@model WebApplication3.Models.tb_stucourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_stucourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tb_course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_student.StudentPasswd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_student.StudentPasswd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_teacher.TeacherPasswd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_teacher.TeacherPasswd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
