@model IEnumerable<WebApplication3.Models.tb_dept>

@{
    ViewBag.Title = "Index";
}

<h2>院系管理</h2>
<p>
    <a href="@Url.Action("Create")" class="layui-btn layui-btn-warm layui-btn-sm"><i class="layui-icon layui-icon-add-1"></i></a>
</p>
<table class="layui-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptChairman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptTel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptChairman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptDesc)
            </td>
            <td>
                <a href="@Url.Action("Edit",new { id = item.DeptNo })" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe642;</i></a>
                <a href="@Url.Action("Delete",new { id = item.DeptNo })" class="layui-btn layui-btn-danger layui-btn-sm"><i class="layui-icon">&#xe640;</i></a>
            </td>
        </tr>
        }
        </tbody>
</table>
