@model WebApplication3.Models.tb_major

@{
    ViewBag.Title = "Create";
}

<div id="myModal" class="modal fade" style="margin-top:50px">
    @using (Html.BeginForm())
    {
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>新建专业</h4>
            </div>
            <div class="modal-body">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
      
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        
                        @Html.LabelFor(model => model.MajorNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MajorNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MajorNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeptNo, "DeptNo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("DeptNo", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DeptNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MajorName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MajorName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MajorName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MajorAssistant, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MajorAssistant, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MajorAssistant, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MajorTel, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MajorTel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MajorTel, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MjorDetail, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MjorDetail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MjorDetail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="btn-block text-right">
                            <input type="submit" value="确定" class="layui-btn" />
                            <a class="layui-btn layui-btn-danger" href="@Url.Action("Index")">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
<script>
    $("#myModal").modal();
    $(".modal-backdrop").remove();
</script>
