@model WebApplication3.Models.tb_teacher

@{
    ViewBag.Title = "Create";
}

<div id="myModal" class="modal fade" style="margin-top:50px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background:#009688">
                <h4 class="modal-title" style="color:white">新建教师</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <h4>添加教师</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.TeacherNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TeacherNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TeacherNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TeacherPasswd, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TeacherPasswd, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TeacherPasswd, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DeptNo, "DeptNo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("DeptNo", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DeptNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TeacherName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TeacherName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">性别</label>
                        <div class="col-md-10">
                            <label class="radio-inline"><input name="sex" type="radio" value="男" />男</label>
                            <label class="radio-inline"><input name="sex" type="radio" value="女" />女</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">出生日期</label>
                        <div class="col-md-10">
                            <input class="form-control" id="birthDate" name="BirthDate" type="date" value="@Model.TeacherBirthday" />
                            @Html.ValidationMessageFor(model => model.TeacherBirthday, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TeacherTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TeacherTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TeacherTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Teacherphoto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Teacherphoto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Teacherphoto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TeacherId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TeacherId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TeacherId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TeacherTel, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TeacherTel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TeacherTel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-block text-right">
                        <input type="submit" value="添加" class="layui-btn" />
                        <a class="layui-btn layui-btn-danger" href="@Url.Action("Index")">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>


<script>
    var sex = document.getElementsByName("sex");
    var str_sex="@Model.TeacherSex";
    var str_sexArray=str_sex.split(',');
    $("#myModal").modal();
    $(".modal-backdrop").remove();
    $(function()
    {
        for( var i = 0; i < sex.length; i++ )
        {
            for(var j = 0; j < str_sexArray.length; j++ ){
                if(sex[i].value==str_sexArray[j]){
                    sex[i].checked=true;
                }
            }
        }
        var now = "@Model.TeacherBirthday";
        var dates=now.split(' ');
        var date=dates[0].split('/');
        //格式化日，如果小于9，前面补0
        var day = ("0" + date[2]).slice(-2);
        //格式化月，如果小于9，前面补0
        var month = ("0" + date[1]).slice(-2);
        //拼装完整日期格式
        var today = date[0]+"-"+(month)+"-"+(day) ;
        //完成赋值
        $('#birthDate').val(today);
    });
</script>